{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * company-management plugin for Craft CMS 3.x
 *
 * company-management index.twig
 *
 * @author    Percipio.London
 * @copyright Copyright (c) 2021 Percipio.London
 * @link      https://percipio.london
 * @package   Companymanagement
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("percipiolondon\\companymanagement\\assetbundles\\companymanagement\\CompanymanagementAsset") %}
{% do view.registerAssetBundle("percipiolondon\\companymanagement\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/percipioglobal/company-management/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "company-management" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('company-management') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@percipiolondon/companymanagement/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('company-management') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('company-management') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
