{% extends "company-management/_layouts" %}

{%- set title = "Company Management" -%}
{%- set pluginCpUrl = url('company-management') -%}

{% block content %}
    <div class="main">
        <div class="elements">
            Dashboard
        </div>
    </div>
{% endblock %}
