{%- extends '_layouts/elementindex' -%}

{%- set title = "Companies"|t('company-management') -%}
{%- set selectedSubnavItem = 'companies' -%}

{%- set elementType = 'percipiolondon\\companymanagement\\elements\\Company' -%}

{% block actionButton %}
    <a href="{{ url('company-management/companies/new') }}" class="btn submit add icon">Create Company</a>
    {{ parent() }}
{% endblock %}
